@font-face {
  font-family: "Zabars";
  src: url("fonts/Zabars.ttf") format("truetype");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-image: url("img/5_background/desert.png");
  background-position: center;
  font-family: "Zabars", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 4rem;
  letter-spacing: 3px;
  text-shadow: 12px 24px 8px rgba(0, 0, 0, 0.5);
}

canvas {
  background-color: black;
  width: 100%;
  max-width: 820px;
  height: auto;
  aspect-ratio: 16 / 9;
}
 
