<div class="overlay" id="imprint-overlay" aria-modal="true" role="dialog" aria-label="Impressum">
  <div class="overlay__backdrop" onclick="hideOverlay()"></div>
  <div class="overlay__panel">
    <button class="overlay__close" onclick="hideOverlay()" aria-label="Close">&times;</button>
    <img class="overlay__icon" src="img/10_menu/gavel.svg" alt="" aria-hidden="true" />
    <h2 class="overlay__title">Legal Notice</h2>
    <div class="overlay__body">
      <section class="overlay__section">
        <h3 class="overlay__section-title">Information according to Section 5 TMG</h3>
        <p>
          Viktor Wilhelm<br />
          49479 Ibbenbüren
        </p>
      </section>
      <section class="overlay__section">
        <h3 class="overlay__section-title">Contact</h3>
        <p>
          <a class="overlay__link" href="mailto:hello@viktor-wilhelm.de">hello@viktor-wilhelm.de</a>
        </p>
      </section>
      <section class="overlay__section">
        <h3 class="overlay__section-title">Disclaimer</h3>
        <p>
          The contents of this website have been created with great care. However, no guarantee can be given for the
          accuracy, completeness, or timeliness of the content.
        </p>
      </section>
      <section class="overlay__section">
        <h3 class="overlay__section-title">Copyright</h3>
        <p>
          The content and works created by the site operator on these pages are subject to German copyright law. Any
          duplication, editing, distribution, or use beyond the limits of copyright law requires the written consent of
          the author.
        </p>
      </section>
    </div>
  </div>
</div>
