<div class="overlay" id="controls-overlay" aria-modal="true" role="dialog" aria-label="Controls">
  <div class="overlay__backdrop" onclick="hideOverlay()"></div>
  <div class="overlay__panel">
    <button class="overlay__close" onclick="hideOverlay()" aria-label="Close">&times;</button>
    <h2 class="overlay__title">Controls</h2>
    <div class="overlay__body">
      <section class="overlay__section">
        <h3 class="overlay__section-title">Move</h3>
        <p>
          <img src="img/10_menu/arrow_back_20dp_FFFFFF.svg" alt="Left" style="vertical-align: middle" />
          <img src="img/10_menu/arrow_forward_20dp_FFFFFF.svg" alt="Right" style="vertical-align: middle" />
          &nbsp; Arrow Left / Arrow Right
        </p>
      </section>
      <section class="overlay__section">
        <h3 class="overlay__section-title">Jump</h3>
        <p>
          <img src="img/10_menu/arrow_upward_20dp.svg" alt="Up" style="vertical-align: middle" />
          &nbsp; Arrow Up &nbsp;or&nbsp; Space
        </p>
      </section>
      <section class="overlay__section">
        <h3 class="overlay__section-title">Throw Bottle</h3>
        <p>D</p>
      </section>
      <section class="overlay__section">
        <h3 class="overlay__section-title">Pause</h3>
        <p>Escape</p>
      </section>
      <section class="overlay__section">
        <h3 class="overlay__section-title">Tips</h3>
        <p>Jump on enemies to kill them. Hit the Endboss with bottles. Collect coins to restore health.</p>
      </section>
    </div>
  </div>
</div>
